* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(253, 92, 88);
    --txtColor: #fff;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: Tahoma;
    background-color: rgb(0, 0, 20);
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    margin: 6px;
    font-weight: 100;
    color: var(--txtColor);
}

p,
li {
    color: var(--txtColor);

}

span {
    font-weight: 600;
    padding-right: 4px;
}

header {
    background-image: url(https://source.unsplash.com/JgOeRuGD_Y4);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
    padding: 5px;
    position: relative;
}

nav {
    float: right;
}

header>.sidebar {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    padding: 0 10px 14px 10px;
    background-color: var(--bgColor);
    border-radius: 8px;
    
}

.bt {
    float: right;
    display: none;
    background: none;
    border: none;
    
    
}

@media (max-width:800px) {
    nav {
        display: none;
    }
    
    .bt {
        display: block;
        z-index: 100;
    }
}

.sidebar>ul {
    flex-direction: column;
}

.sidebar>ul>li {
    background-color: rgba(0, 0, 0, 0.381);
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primarycColor);
    padding-right: 14px;
    padding-bottom: 2px;
    border-radius: 4px;

}

header .img {
    border-radius: 50%;
    margin: 20px 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 120px;
}

.img {

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/pic.jpg);
}

.box {
    text-align: center;
    margin: 32px;
}

h1,
h5 {
    color: var(--primaryColor);
    text-transform: capitalize;
}

i {
    font-size: 2em;
    color: var(--primaryColor);

}

h3,
h4 {
    color: #fff;
    margin: 6px 0;
}


.container {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.container .img {
    height: 200px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid var(--primaryColor);
    margin: 20px;
}

.discover {
    width: 70%;
}

.details {
    display: flex;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    margin: 10px;
    padding: 14px;
    justify-content: space-evenly;
    max-width: 600px;
    min-width: max-content;

}
@media (max-width:400px) {
    .details
    {
        flex-direction: row;
    }
    
}

.details ul {
    display: flex;
    flex-direction: column;

}

.details ul li {
    margin: 4px;
}

.discover button {
    background-color: var(--primaryColor);
    padding: 6px 2px;
    border-radius: 6px;
    font-weight: bold;

}

section {
    background: rgb(0, 0, 29);
    padding: 20px 10px;
}

.top {
    margin-left: 90px;
    margin-top: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards {
    border-radius: 8px;
    border: 2px solid var(--primaryColor);
    margin: 20px;
    width: 200px;
    text-align: center;
    padding: 12px 10px;
}

h3 {
    position: relative;
}

h3::before {
    content: '';
    background-color: var(--primaryColor);
    height: 2px;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: -4px;

}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer ul {
    margin: 10px;
}

footer ul li {
    margin: 10px;
}

footer ul li a i {
    font-size: 1.66em;
}